<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Записная книжка</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <div id="todo-form">
        <form>
            <h2>Добавление нового дела</h2>
            <label>Выберите дату:</label>
            <input type="date" name="date">
            <label>Описание:</label>
            <input type="text" name="note">
            <hr>
            <button id="save-task">Записать</button>
        </form>
    </div>
    <h1>Список дел(<span th:text="${tasksCount}">0</span>)</h1>
    <button id="show-add-task-form">Добавить задачу</button>
    <br><br>
    <div id="task-list">
        <div th:each="task : ${tasks}">
            <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.note}"></a>
            <a href="#" class="task-del" th:attr="data-id=${task.id}" th:text="x"></a>
        </div>
    </div>
</body>
</html>